body > table{
    width: 80%;
}

h1{
    text-align: center;
}

.tab{
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    margin-top: 50px;
    padding: 50px;
    background-color: rgba(218, 147, 134, 0.349);
    border-radius: 20px;
    
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 30%;
    background-color: #ddd;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}


body {
    background-image:url('https://www.gannett-cdn.com/-mm-/05b227ad5b8ad4e9dcb53af4f31d7fbdb7fa901b/c=0-64-2119-1259/local/-/media/USATODAY/USATODAY/2014/08/13/1407953244000-177513283.jpg');
}

label{
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:800;
    color: black;
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

